body,
body * {
    margin: 2rem;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: beige;
    color: navy;
}


.header {
    background-color: pink;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 2rem;
    
    
}
nav > a {
    font-size: 1.7rem;
    font-weight: 900;
    text-decoration: none;
}


.about {
    font-size: 2rem;
    
}


.skills {
    font-size: 2rem;
    
}

.creations {
    font-size: 2rem;
    height: 40rem;
}

.projects {
    border: 5px solid #333;
    border-radius: 10px;
    color: grey;
    height: 12rem;
    width: 12rem;
    display: flex;
    flex-direction: row;
    gap: 3rem;
    
}

.projects > a {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    text-decoration: none;
    
}

.contacts {
    font-size: 2rem;
}



.connection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}



footer {
    padding-bottom: 1rem;
    text-align: center;
}